# Игнорирование файлов и папок сборки и временных файлов
node_modules/
# dist/
build/
.cache/
npm-debug.log*

# Игнорирование конфигурационных файлов
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Игнорирование зависимостей пакетного менеджера
yarn.lock
package-lock.json

# Игнорирование сгенерированных файлов по шестнадцатеричным суммам (например, при использовании webpack или gulp)
**/*.js.map
**/*.css.map

# Игнорирование временных файлов редактора кода
.vscode/
.idea/

# Игнорирование личных настроек и конфигураций
*.log
*.bak
*.swp

# дополнительно
package-lock.json.31319899